.index{
  background-color: white;
}

footer p {
  color: black;
}

footer p a {
  color: black;
}

.about-page {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.about-frank {
  display: block;
}

.main-image {
  float: right;
  display: 30%;
  width: 15em;
  padding-left: 5px;
}

.main-info {
  margin: 10px 0px;
}

.about-singer {
  width: 7em;
  float: right;
  border-radius: 50%;
  display: 20%;
  padding-left: 5px;
}

.contact-us {
  width: 3em;
  padding: 1em;
  text-align: center;
}