* {
  margin: 0;
}

body {
  font-size: 1em;
}

/*.main-image {
  display: inline-block;
  float: left;
  width: 39%;
  padding: 10px;
}

.about-frank {
  display: inline-block;
  float: right;
  width: 57%;
  padding: 10px;
}

.main {
  display: block;
}

.about-singer {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}*/