*{
  padding: 0;
  margin: 0;
}
body {
  font-size: 1em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*top nav bar*/
nav {
  position: absolute top center;
}

nav ul {
  list-style-type: none;
  background-color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

nav img {
  width: 10em;
  padding: 1em;
}

nav ul li{
  display: inline-block;
  vertical-align: middle;
}

nav ul li a{
  padding-right: 35px;
  padding-left: 50px;
  text-decoration: none;
  color: white;
}

.navpad{
  margin-top: -10px;
  padding-top: -20px;
}

.linkback{
  transition: 0.3s ease;
  background: black;
  color: #ffffff;
  text-decoration: none;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 20px 0;
  margin: 0 20px;
}

.linkback:hover{
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.linkimg{
/*  transition: 0.3s ease;*/
  padding: 5px 0;
  margin: 0 5px;
}

.linkimg:hover{
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 4px;
}

/*footer*/
.social-icons {
 width: 2em;
 height: 2em;
 padding: 5px;
}

/*footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
*/
footer ul, .contact-frank {
  list-style-type: none;
  text-align: center;
}

footer li, .contact-frank li {
 display: inline-block;
}

footer p {
 font-size: .5em;
 margin: 0 auto;
 color: white;
 text-align: center;
 text-decoration: none;
 width: 100%;
}

footer p a{
  text-decoration: none;
  color: white;
}

/*home page main image*/
.backimg{
  width: 100%;
}

.index{
  background-color: #000000;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -100px;
}

.page-wrap:after{
  content: "";
  display: block;
}

.stickyfoot, .page-wrap:after{
  height: 100px;
}

.stickyfoot{
}