
*{
  padding: 0;
}

/*top nav bar*/
nav ul{
  list-style-type: none;
  background-color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

nav img{
  width: 10em;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  padding-right: 35px;
  padding-left: 50px;
  text-decoration: none;
  color: white;
}

.navpad{
  margin-top: -10px;
  padding-top: -20px;
}

/*footer*/
.social-icons {
 width: 2em;
 height: 2em;
 padding: 5px;
}

footer ul {
 list-style-type: none;
 background-color: black;
 text-align: center;
}

footer li {
 display: inline-block;
}

footer p {
 font-size: .5em;
 margin: 0 auto;
 color: white;
 text-align: center;
 text-decoration: none;
}

footer{
 position: absolute bottom center;
}

nav{
 position: absolute top center;
}


/*home page main body (pictures/fonts/etc)*/

.index {
  font-size: 1em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.titles {
  font-size: 3em;
}

.hi{
  font-size: 1.1em;
}

header {
  margin: 3%;
  text-align: center;
}

.mid-content {
  margin: 1% 0 4% 17%;
  width: 960px;
  border-bottom: 2px solid lightgray;
}

.headshots {
  border-radius: 150%;
  height: 175px;
}

iframe {
  margin: 0 10% 0 20%;
}

blockquote {
border:none;
font-family:Georgia, "Times New Roman", Times, serif;
margin-bottom:-30px;
position: relative;
max-width: 400px;
margin: 0 auto;
padding-left: 0.4em;
}

blockquote p {
    font-size:14px;
    text-align: justify;
    margin-top: -40%;
    margin-bottom: 10%;
    margin-left: 5%;
}

blockquote p:before {
    content: "\201C";
    font-weight: bold;
    font-size:80px;
    color:gray;
    position: absolute;
    top: -0.2em;
    left: -0.5em;
    font-family: 'Georgia';
}
blockquote p:after {
    content: "\201D";
    font-weight: bold;
    font-size:80px;
    color:gray;
    position: absolute;
    bottom: -0.8em;
    right: .8em;
  }