*{
  padding: 0;
}
body {
  font-size: 1em;
  font-family: Verdana, Geneva, sans-serif;
}

/*top nav bar*/
nav ul{
  list-style-type: none;
  background-color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#musicProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  background-color: #A3A6A1;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.productCard > img {
  display: block;
  margin: 0 auto;
  max-height: 189px;
  display: inherit;
  margin-left: auto;
  margin-right: auto 
}


.productCard {
  border: 1px solid black;
  background-color: #A3A6A1;
  margin: 5%;
  box-shadow: 2px 2px 2px 15px black;
  width: 300px;
  height: 470px;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 14px;
}

.price {
  font-size: 24px;
}

.description {
  font-size: 18px;
  padding:  5%;
}

nav{
 position: absolute top center;
}

nav img{
  width: 10em;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  padding-right: 35px;
  padding-left: 50px;
  text-decoration: none;
  color: white;
}

.navpad{
  margin-top: -10px;
  padding-top: -20px;
}


/*footer*/
.social-icons {
 width: 2em;
 height: 2em;
 padding: 5px;
}

footer ul {
 list-style-type: none;
 background-color: black;
 text-align: center;
}

footer li {
 display: inline-block;
}

footer p {
 font-size: .5em;
 margin: 0 auto;
 color: white;
 text-align: center;
 text-decoration: none;
}
/*home page main image*/
.backimg{
  width: 100%;
}

footer{
 position: absolute bottom center;
}

.index{
  background-color: #000000;
}